.aboutUs,
.contactUs,
.logIn {
  text-decoration: none;
  position: absolute;
  top: 105px;
  letter-spacing: 0.09em;
  font-weight: 600;
}
.aboutUs {
  right: 442px;
  color: rgba(0, 0, 0, 0.84);
}
.contactUs{
  right: 600px;
  color: rgba(0, 0, 0, 0.84);
}

.logIn {
  right: 335px;
  color: inherit;
}
.groupChild {
  position: absolute;
  top: 8px;
  right: 0;
  border-radius: 11px;
  background-color: #c3604d;
  width: 132px;
  height: 47px;
}
.register {
  position: absolute;
  top: 19px;
  right: 14px;
  font-size: 24px;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-family: Mukta;
  color: #fff;
  text-align: left;
}
.landinpageInner,
.rectangleParent {
  position: absolute;
  width: 132px;
  height: 47px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  right: 0;
}
.landinpageInner {
  top: 85px;
  right: 170px;
}
.button1 {
  position: relative;
  letter-spacing: 0.2em;
  font-weight: 900;
}
.active,
.property1inactive {
  position: absolute;
  top: 116px;
  left: 20px;
  border-radius: 17px;
  background-color: #ff3030;
  width: 228px;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.property1inactive {
  top: 20px;
  background-color: #c3604d;
}
.activeParent,
.button {
  position: absolute;
  width: 259px;
  height: 227px;
}
.activeParent {
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  overflow: hidden;
}
.button {
  top: 212px;
  left: -2134px;
  font-size: 12px;
  color: #fff;
  font-family: "Maven Pro";
}
.groupItem {
  position: absolute;
  top: calc(50% - 243.5px);
  left: calc(50% - 606px);
  border-radius: 29px;
  background-color: #f5d1b3;
  width: 1212px;
  height: 488px;
}
.theEasiestWay,
.withJustA {
  position: absolute;
  top: calc(50% - 211.5px);
  left: calc(50% - 550px);
  letter-spacing: 0.09em;
  display: inline-block;
  width: 556px;
}
.withJustA {
  top: calc(50% - 12.5px);
  left: calc(50% - 559px);
  font-size: 24px;
  font-weight: 600;
  width: 609px;
}
.caregiving21Icon {
  position: absolute;
  top: calc(50% - 238px);
  left: calc(50% + 78px);
  width: 501px;
  height: 476px;
  object-fit: cover;
}
.rectangleGroup {
  position: absolute;
  top: calc(50% - 245px);
  left: calc(50% - 606px);
  width: 1212px;
  height: 489px;
  font-size: 48px;
  color: #000;
}
.groupInner {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 139px);
  border-radius: 11px;
  background-color: #c3604d;
  width: 278px;
  height: 47px;
}
.registerAndBook {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 112px);
  font-size: 24px;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-family: Mukta;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 238px;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 134px);
  left: calc(50% - 559px);
  width: 278px;
  height: 47px;
}
.nurturehub {
  position: absolute;
  top: 40px;
  left: 151px;
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 43px;
}
.nurturehublogo2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 128px;
  object-fit: cover;
}
.nurturehubParent {
  position: absolute;
  top: 48px;
  left: 133px;
  width: 416px;
  height: 128px;
  font-size: 36px;
  font-family: "Maven Pro";
}
.landinpage {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #c3604d;
  font-family: Mukta;
}
