.property1defaultChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-black);
  }
  .socialIcons {
    position: absolute;
    height: 68.42%;
    width: 69.64%;
    top: 15.79%;
    right: 14.29%;
    bottom: 15.79%;
    left: 16.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .property1default {
    width: 56px;
    height: 57px;
  }
  