.rectangleInput,
.registercaregiverChild,
.registercaregiverChild1,
.registercaregiverInner,
.registercaregiverItem {
  border: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 213px;
  left: calc(50% - 152px);
  border-radius: 11px;
  width: 303px;
  height: 39px;
}
.rectangleInput,
.registercaregiverChild1,
.registercaregiverInner,
.registercaregiverItem {
  top: 414px;
}
.rectangleInput,
.registercaregiverChild1,
.registercaregiverInner {
  top: 464px;
}
.rectangleInput,
.registercaregiverChild1 {
  top: 514px;
}
.registercaregiverChild1 {
  top: 564px;
}
.registercaregiverChild2,
.registercaregiverChild3,
.registercaregiverChild4,
.registercaregiverChild5,
.registercaregiverChild6 {
  border: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 664px;
  left: calc(50% - 152px);
  border-radius: 11px;
  width: 303px;
  height: 39px;
}
.registercaregiverChild3,
.registercaregiverChild4,
.registercaregiverChild5,
.registercaregiverChild6 {
  top: 714px;
}
.registercaregiverChild4,
.registercaregiverChild5,
.registercaregiverChild6 {
  top: 614px;
}
.registercaregiverChild5,
.registercaregiverChild6 {
  top: 264px;
}
.registercaregiverChild6 {
  top: 313px;
}
.username {
  position: absolute;
  top: 323px;
  left: calc(50% - 140px);
}
.registercaregiverChild8 {
  border: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 363px;
  left: calc(50% - 152px);
  border-radius: 11px;
  width: 303px;
  height: 39px;
}
.registerCaregiver {
  position: absolute;
  top: 139px;
  left: calc(50% - 140px);
  font-size: 32px;
  color: #000;
}
.button {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-family: "Maven Pro";
  color: #fff;
  text-align: left;
}
.buttonWrapper,
.vectorIcon {
  position: absolute;
  cursor: pointer;
}
.buttonWrapper {
  border: 0;
  padding: 10px;
  background-color: #c3604d;
  top: 725px;
  left: calc(50% - 152px);
  border-radius: 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 303px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.vectorIcon {
  position: absolute;
  top: 71px;
  left: 74px;
  width: 26px;
  height: 130px;
  cursor: pointer;
}
.registercaregiver {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
}
.errorText {
  color: black;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  color: white;
  padding-left: 10px;
  padding-right: 2px;
}

.errorText2 {
 border-radius: 5px;
 margin-left: 62%;
 margin-right: 12%;
 margin-top: 24%;
 background-color: #c3604d;
 position: relative;
  z-index: 1;

}

.nurturehub {
  left: 132px;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-family: "Maven Pro";
}
.nurturehublogo2Icon {
  position: absolute;
  top: 7px;
  left: 47px;
  width: 85px;
  height: 77px;
  object-fit: cover;
}
.nurturehub {
  position: absolute;
  top: 32px;
  font-size: 24px;
  color: #c3604d;
}
.headerChild {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f1d7c8;
  height: 93px;
}
